<p id="ref">
  <%= link_to "Accueil", root_path %> -
  <%= link_to "A propos", "http://we.makesense.org/?page_id=8", :target => "_blank" %> -
  <%= link_to "Powered by MakeSense", "http://makesense.org", :target => "_blank" %>
</p>
